@font-face {
    font-family: 'Geologica';
    src: url('../../public/fonts/Geologica_Auto-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Geologica-1';
    src: url('../../public/fonts/Geologica_Auto-Light.ttf') format('truetype');
    font-weight: 300;
}

.top-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 70px;
    border-radius: 12px;
    font-family: 'Geologica'; /* Regular для заголовков */
}

.menu-item {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 5px;
    overflow: hidden;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #f0f0f0;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.menu-text {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s, margin-left 0.3s;
    color: #555;
    font-size: 0.85em;
    white-space: nowrap;
    pointer-events: none;
    font-family: 'Geologica-1'; /* Light для обычного текста */
}

.menu-item:hover .menu-text {
    opacity: 1;
    margin-left: 15px;
}

.menu-item:hover .icon-wrapper {
    background-color: #5199d1;
    transform: scale(1.1);
}

.menu-item:hover .icon {
    opacity: 1;
}



/* под телефоны */


@media (max-width: 768px) {
    .top-menu {
        height: 50px;
        padding: 4px 0;
    }

    .icon-wrapper {
        width: 30px;
        height: 30px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .menu-text {
        display: none; /* скрываем текст на мобилках */
    }
}


/* для активной страницы */

/* .menu-item.active .icon-wrapper {
    background-color: #5199d1;
    transform: scale(1.1);
}

.menu-item.active .icon {
    opacity: 1;
}

.menu-item.active .menu-text {
    opacity: 1;
    margin-left: 12px;
    color: #000;
    font-weight: 500;
} */

.menu-item.active {
    background-color: #efe6ff; /* светло-фиолетовый фон */
    border-radius: 30px;        /* делает овал */
    padding: 8px 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-item.active .icon-wrapper {
    background-color: transparent; /* прозрачный фон, чтобы не перебивало */
    transform: none;
}

.menu-item.active .icon {
    opacity: 1;
    filter: brightness(0.6) saturate(150%) hue-rotate(250deg); /* фиолетоватый оттенок */
}

.menu-item.active .menu-text {
    opacity: 1;
    margin-left: 12px;
    color: #7a4fcf;
    font-weight: 500;
    font-family: 'Geologica'; /* можно использовать основной */
}
